<div id="host-create-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true" data-actionUrl="{{ url( 'virtual-hosts-create' ) }}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        	<div id="hostFormContainer">
                {% include 'pages/virtual_hosts/forms/virtualhost.html.twig' %}
            </div>
        </div>
    </div>
</div>
