##############################
# Eclipse project meta data
##############################
/.settings/
/.buildpath
.buildpath
/.project
/.dbeaver-data-sources.xml

##############################
# Symfony
##############################
/.env
/composer.lock
/symfony.lock
/vendor/
/node_modules/
/public/build/
/public/bundles/
/public/assets/
/public/assets/build/
/yarn.lock
/var/
/config/fixtures/projects.yaml
/migrations/
/tests/

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
