##############################
# Eclipse project meta data
##############################
/.settings/
/.buildpath
.buildpath
/.project
/.dbeaver-data-sources.xml

##############################
# Symfony
##############################
/.env
/composer.lock
/symfony.lock
/vendor/
/node_modules/
/public/build/
/public/bundles/
/public/assets/
/public/assets/build/
/yarn.lock
/var/
/config/fixtures/projects.yaml
/migrations/
/tests/

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/assets/
/assets/controllers/
/assets/styles/
/assets/app.js
/assets/bootstrap.js
/assets/controllers.json
/node_modules/
/public/build/
/public/bundles/
/yarn.lock
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> VankosoftApplication Files ###
/config/*
/VSAPP_VERSION

# Public files ignores
/public/admin-panel/build/
/public/admin-panel/bundles/
/public/shared_assets/build/
/public/index.php
/src/Kernel.php
/templates/base.html.twig

# Except for the applications configs:
!/config/admin-panel
!/config/applications
!/config/api_platform

# Example Application ignores
/public/test-vankosoft-application/build/
/public/test-vankosoft-application/bundles/

###< VankosoftApplication Files ###

###> VisualParadigm Meta Files ###
/docs/TechnicalDocumentation/VisualParadigm/.VankosoftApplication.vpp.lck
/docs/TechnicalDocumentation/VisualParadigm/VankosoftApplication.vpp.bak_*
###< VisualParadigm Meta Files ###
