<tr>
    <td>{{ h.host }}</td>
    
    <td>
    	
    </td>
    
    <td width="170" style="text-align: right;">
        <a href="http://{{ h.host }}" target="__blank" class="btn btn-success btn-circle btn-sm btnOpen" title="Open">
            <i class="fas fa-home"></i>
        </a>
        
    	<a href="javascript:void(0);" 
            class="btn btn-info btn-circle btn-sm " 
            title="Edit Host" 
            data-toggle="modal" 
            data-target="#host-change-php-version-modal"
            data-url="{{ path( 'virtual-hosts-set-php-version', {host: h.host}) }}"
        >
            <i class="fas fa-edit"></i>
        </a>
        
    	<a href="javascript:void(0);" 
            class="btn btn-danger btn-circle btn-sm btnDeleteHost" 
            title="Delete Host" 
            data-url="{{ path( 'virtual-hosts-delete-host', {host: h.host}) }}"
        >
            <i class="fas fa-trash"></i>
        </a>
    </td>
</tr>