{% extends "@VSApplication/layout.html.twig" %}

{# Import Macros #}
{% import "@VSApplication/Macros/alerts.html.twig" as alerts %}

{# Override Blocs #}
{% block title %}{{ parent() }} :: {{ 'vankosoft_org.template.list_project_issues' | trans( {},'VankoSoftOrg' ) }}{% endblock %}
{% block pageTitle %}
    <h4 class="pageheader-title">
        <i class="fas fa-bug"></i> 
        {{ 'vankosoft_org.template.list_project_issues' | trans( {},'VankoSoftOrg' ) }}
    </h4>
{% endblock %}

{% block content %}

{% endblock %}