{% extends 'base.html.twig' %}

{# Override Blocs #}
{% block title %}{{ parent() }} :: Phpbrew Extensions{% endblock %}
{% block pageTitle %}
    <h4 class="pageheader-title">
        <i class="fab fa-php"></i> 
        Phpbrew Extensions
    </h4>
{% endblock %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
		<!-- Page Heading -->
        <div class="row">
          	<div class="col-lg-12">
                <div id="submitMessage" class="card bg-success text-white shadow mb-2" style="display:none;">
                    <div class="card-body"></div>
                </div>
                <div id="sectionExtensions" class="card-body">
                	{% include 'Pages/phpbrew/table_extensions.html.twig' %}
                </div>
		    </div>
		</div>
	</div>
	<!-- /.container-fluid --> 
{% endblock %}

{% block modals %}
	{{ parent() }}
	
	{% include 'Modals/phpbrew_extensions_edit.html.twig' %}
{% endblock %}

{% block body_scripts %}
	{{ parent() }}
	
    {{ encore_entry_script_tags( 'js/pages/phpbrew_extensions', null, 'MyWebProjects_VelzonDefault' ) }}
{% endblock %}
