<div class="form-group">
    <label>Magento Version: </label>
    <select class="form-control select-button phpVersionFormInput" name="predefinedTypeParams[version]">
        {% for key, name in branches %}
            <option value="{{ key }}">{{ name }}</option>
        {% endfor %}
    </select>
</div>
