<div id="add-payment-for-project-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {{ 'vankosoft_org.template.project_payment_add_title' | trans( {},'VankoSoftOrg' ) }}: <span id="projectPaymentAddTitle"></span>
				</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> </button>
            </div>
            <div class="modal-body">
                <div id="modalBodyAddPaymentForProject" class="card alert mb-2">
                    <div class="card-body"></div>
                </div>
            </div>
            
            <div class="modal-footer" id="imContainer">
                <button type="button" class="btn btn-primary" id="btnSubmitPayment" data-projectId="">
                    {{ 'vankosoft_org.form.project_payment.add_payment' | trans( {},'VankoSoftOrg' ) }}
				</button>
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">
					{{ 'vs_application.form.cancel' | trans( {},'VSApplicationBundle' ) }}
				</button>
            </div>
        </div>
    </div>
</div>
